@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
	margin: 0;
}
#__next {
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
}

* {
	font-family: "Montserrat";
}

.function-card-container {
    display: flex;
    margin-top: 0.5rem;
}


.tags-label{
    font-weight: bold;
    margin-top: 0.04rem;
}

.tags {
    color: dodgerblue;
    margin-left: 0.5rem;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
}
