.container {
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.function-search-list {
    width: 40%;
}

.search {
    padding-bottom: 1rem;
}

.function-card {
    margin-bottom: 1rem;
    padding: 0.8rem 1rem 0.9rem;
}

.function-downloads-container {
    flex: 1;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.flex-container {
    display: flex;
}

.function-card-container {
    display: flex;
    margin-top: 0.5rem;
}

.function-description {
    margin-top: 0.5rem;
}

.function-author {
    font-weight: bold;
    margin-right: 0.5rem;
    margin-top: 0.05rem;
}

.tags-label{
    font-weight: bold;
}

.tags {
    color: dodgerblue;
    margin-left: 0.5rem;
}

.search-title {
    text-decoration: underline;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

a {
    text-decoration: none;
}