.functionCard {
    padding: 1rem;
    margin-bottom: 1rem;
}

.functionCardBody {
    display: flex;
    margin-top: 0.5rem
}

.functionTagsContainer {
    flex: 1;
}

.functionDownloadsContainer {
    flex: 1;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}